<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

  <title>Snapcash</title>
  <!-- Run in full-screen mode. -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- Make the status bar black with white text. -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Customize home screen title. -->
  <meta name="apple-mobile-web-app-title" content="Snapcash">
  <!-- Disable phone number detection. -->
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="/static/css/splash.css">


  <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/static/js/retina-1.1.0.js"></script>

</head><body>


{% block content %}{% endblock %}
  </body>
</html>
