{% extends "base/app.html" %}
{% block pagetitle %}<img src="/static/img/snapcash.png" alt="Logo">{% endblock %}
{% block rightbtn %}
{% endblock %}
{% block content %}

<div id="homepage_content" data-role="content">
  <div class="page-subtitle">
    Send money
  </div>
  <form enctype="multipart/form-data" method="post" id="sendmoney_form">
  <select name="friend" id='friend'>
  {% for f in friends %}
      <option value="{{ f[0] }}">{{ f[1] }} {{ f[2] }}</option>
  {% endfor %}
  </select>
    <input type="number" step="0.01" min=0 class='input-address' name="amount" placeholder="Amount" data-mini="true" value="" id='amount'>
    <hr class='input-hr'>

    <button class='ui-mini ui-btn' id='sendmoney_btn' >SEND</button>
  </form>

</div><!-- /page -->

<script type="text/javascript" charset="utf-8">

$('#sendmoney_btn').click( function(e) {
  e.preventDefault();
    amount = $('input#amount').val();
    friend = $('select#friend').val();
    data={'amount': amount, 'friend': friend};
    console.log(data);
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: "application/json;",
        data: JSON.stringify(data),
        url: '/send_money',
        success: function(response) {
            if (response.status == "ok") {
              $(location).attr('href',response.next_url);
            } else
                alert(response.status);
        }
    });
});

</script>
{% endblock %}

